img {
  height: 400px;
  width: 260px;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card-body {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

button {
  height: 40px;
}
